In [28]:
from pyvis.network import Network
import pandas as pd
import numpy as np

In [29]:
##creating a network instance
g = Network(height = "1500px", width = "100%", bgcolor = "#222222", font_color = "white", directed= True)

In [30]:
## importing the data
prod = pd.read_csv(r"C:\Users\Suramya Verma\Desktop\gg\prod_nodes_hnm_v2.csv")
att = pd.read_csv(r"C:\Users\Suramya Verma\Desktop\gg\att_nodes_hnm_v2.csv")
att_prod_rel = pd.read_csv(r"C:\Users\Suramya Verma\Desktop\gg\att_prod_rel_hnm_v2.csv")
prod_att_rel = pd.read_csv(r"C:\Users\Suramya Verma\Desktop\gg\prod_att_rel_hnm_v2.csv")

In [31]:
prod.head()

         ~id   ~label           name:String
0  863583001  product                Morris
1  810507002  product                 BYRON
2  829014002  product  PC Birkin HW Tapered
3  642437015  product       Fancy Pants (1)
4  843267002  product             GP Circus

In [32]:
att.head()

    ~id             ~label name:String
0  ptn1  product_type_name     Sweater
1  ptn2  product_type_name    Trousers
2  ptn3  product_type_name       Dress
3  ptn4  product_type_name  Bikini top
4  ptn5  product_type_name       Pumps

In [33]:
att_prod_rel.head()

,~id,~from,~to,~label,weight:Double,weight,114.2039801,170.6065072
0,ptn1_863583001,ptn1,863583001,ATTR_OF,99,0.910883,NaN,NaN
1,ptn1_810507002,ptn1,810507002,ATTR_OF,15,0.418522,NaN,NaN
2,ptn2_829014002,ptn2,829014002,ATTR_OF,62,0.694009,NaN,NaN
3,ptn2_642437015,ptn2,642437015,ATTR_OF,70,0.740901,NaN,NaN
4,ptn3_843267002,ptn3,843267002,ATTR_OF,43,0.582642,NaN,NaN

In [34]:
prod_att_rel.head()

              ~id      ~from   ~to    ~label
0  863583001_ptn1  863583001  ptn1  HAS_ATTR
1  810507002_ptn1  810507002  ptn1  HAS_ATTR
2  829014002_ptn2  829014002  ptn2  HAS_ATTR
3  642437015_ptn2  642437015  ptn2  HAS_ATTR
4  843267002_ptn3  843267002  ptn3  HAS_ATTR

In [35]:
## making a list of node_color and node shape for each node.
color_prod = ["#da03b3"]*len(prod['~id'])
color_att= ["#03DAC6"] * len(att['~id'])
shape_prod = ["ellipse"]*len(prod['~id'])
shape_att = ["circle"] * len(att['~id'])

In [36]:
## adding product_nodes to graph network
g.add_nodes(prod['~id'].values, color = color_prod,
        shape =shape_prod, title = prod['~label'], label = prod['name:String'])

In [37]:
## adding attribute_nodes to graph network
g.add_nodes(att['~id'].values, color = color_att , shape = shape_att,
           title =att['~label'])

In [38]:
##making a zip object to be passed in the add_edge function

edge_data = zip(att_prod_rel['~from'], att_prod_rel['~to'],
                att_prod_rel['weight'].values)

In [39]:
#adding edges with relevant features between the product-> attribute nodes
for i in edge_data:
    src = i[0]
    des = i[1]
    w = i[2]
    c = '#00e5ff'
    g.add_edge(src,des , value = w, color = c)
##g.add_edges(att_prod_relation)
##g.add_edges(prod_att_relation)

In [40]:
#adding edges with relevant features between the attribute -> product nodes
edge_data_2 = zip(prod_att_rel['~from'], prod_att_rel['~to'] )
for k in edge_data_2:
    src_2 = k[0]
    des_2 = k[1]
    c_2 = '#ffb3b3'
    g.add_edge(src_2,des_2, color = c_2)

In [41]:
##Using Barnes_hut algorithm to better visualize and reduce the computation costs
g.barnes_hut()

In [42]:
## showing buttons to interact in graph network
g.show_buttons()

In [43]:
## outputting the graph as an HTML file
g.show('gg.html')