In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("transactions_train.csv")

In [9]:
df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [13]:
no_of_article = df.groupby('article_id')['article_id'].count()

In [14]:
no_of_article

article_id
108775015    10841
108775044     7250
108775051      215
110065001     1044
110065002      539
             ...
952267001       41
952938001        9
953450001       17
953763001       35
956217002       21
Name: article_id, Length: 104547, dtype: int64

In [15]:
no_of_unique_customer = df.groupby('article_id')['customer_id'].nunique()

In [16]:
no_of_unique_customer

article_id
108775015    6885
108775044    5284
108775051     168
110065001     945
110065002     460
             ...
952267001      34
952938001       9
953450001      16
953763001      23
956217002      17
Name: customer_id, Length: 104547, dtype: int64