# Importing packages

In [2]:
import numpy as np
import math
import pandas as pd
# import os
# from google.colab import drive

In [3]:
# drive.mount('/content/drive')
# os.chdir('/content/drive/MyDrive/')

Mounted at /content/drive

# Reading data

In [4]:
df_a = pd.read_csv('articles.csv')

In [5]:
df_a.head(5)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [6]:
df_a = df_a[['article_id', 'prod_name','product_code','product_type_name', 'department_name', 'garment_group_name', 'product_group_name', 'section_name', 'index_group_name', 'colour_group_name', 'perceived_colour_master_name', 'perceived_colour_value_name', 'graphical_appearance_name', 'detail_desc']] # Choosing significant attributes

In [7]:
df_a.head(5)

,article_id,prod_name,product_code,product_type_name,department_name,garment_group_name,product_group_name,section_name,index_group_name,colour_group_name,perceived_colour_master_name,perceived_colour_value_name,graphical_appearance_name,detail_desc
0,108775015,Strap top,108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,Black,Black,Dark,Solid,Jersey top with narrow shoulder straps.
1,108775044,Strap top,108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,White,White,Light,Solid,Jersey top with narrow shoulder straps.
2,108775051,Strap top (1),108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,Off White,White,Dusty Light,Stripe,Jersey top with narrow shoulder straps.
3,110065001,OP T-shirt (Idro),110065,Bra,Clean Lingerie,"Under-, Nightwear",Underwear,Womens Lingerie,Ladieswear,Black,Black,Dark,Solid,"Microfibre T-shirt bra with underwired, moulde..."
4,110065002,OP T-shirt (Idro),110065,Bra,Clean Lingerie,"Under-, Nightwear",Underwear,Womens Lingerie,Ladieswear,White,White,Light,Solid,"Microfibre T-shirt bra with underwired, moulde..."

# Using hierarchy to perform analysis at different levels

In [8]:
def hier(att1, att2): # Number of distinct features in att2 corresponding to a distinct feature in att1
  id1 = list(df_a.columns).index(att1)
  id2 = list(df_a.columns).index(att2)
  id1_id2 = dict()
  for i in range(len(df_a)):
    if df_a.loc[i][id1] not in id1_id2:
      id1_id2[df_a.loc[i][id1]] = [df_a.loc[i][id2]]
    else:
      if df_a.loc[i][id2] not in id1_id2[df_a.loc[i][id1]]:
        id1_id2[df_a.loc[i][id1]].append(df_a.loc[i][id2])
  num_id2 = dict()
  for i in id1_id2:
    l = len(id1_id2[i])
    if l not in num_id2:
      num_id2[l] = 1
    else:
      num_id2[l] += 1
  num_id2 = sorted(list(num_id2.items()), key = lambda x: x[0], reverse = True)
  id1_id2 = sorted(list(id1_id2.items()), key = lambda x: len(x[1]), reverse = True)
  return num_id2, id1_id2

In [9]:
def stats(arr): 
  tmp = []
  for i in arr:
    for _ in range(i[1]):
      tmp.append(i[0])
  avg = np.mean(np.array(tmp))
  std = np.std(np.array(tmp))
  med = np.median(np.array(tmp))
  return avg, std, med

In [10]:
# For category-subcategory pair
num_cat_subs, val_cat_subs = hier('product_group_name', 'product_type_name')
print(num_cat_subs)

[(38, 1), (16, 1), (15, 1), (11, 1), (6, 4), (5, 2), (4, 1), (3, 2), (2, 2), (1, 4)]

In [13]:
# Statistics for category - subcategory
avg_cat_subs, std_cat_subs, med_cat_subs = stats(num_cat_subs)
print(avg_cat_subs, std_cat_subs, med_cat_subs)

6.947368421052632 8.488218982557228 5.0

In [11]:
# For subcategory-product pair
num_sub_prods, val_sub_prods = hier('product_type_name', 'product_code')
print(num_sub_prods)

[(5551, 1), (4711, 1), (3618, 1), (2313, 1), (2172, 1), (2063, 1), (1893, 1), (1580, 1), (1550, 1), (1344, 1), (1112, 1), (947, 1), (918, 1), (807, 1), (779, 1), (762, 1), (757, 1), (739, 1), (703, 1), (656, 1), (654, 1), (634, 1), (624, 1), (614, 1), (611, 1), (474, 1), (452, 1), (432, 1), (421, 1), (418, 1), (387, 1), (383, 1), (362, 1), (355, 1), (348, 1), (342, 1), (294, 1), (288, 1), (261, 1), (255, 1), (233, 1), (225, 1), (224, 1), (208, 1), (195, 1), (161, 1), (160, 1), (141, 1), (140, 1), (139, 1), (131, 1), (125, 1), (115, 1), (113, 1), (102, 1), (99, 1), (92, 1), (91, 1), (89, 1), (82, 1), (78, 1), (75, 1), (67, 1), (64, 1), (61, 1), (53, 1), (47, 1), (44, 1), (43, 1), (38, 1), (37, 1), (34, 1), (32, 1), (31, 1), (29, 1), (28, 2), (26, 1), (21, 1), (18, 1), (17, 1), (15, 2), (13, 1), (12, 1), (11, 1), (10, 3), (8, 1), (7, 3), (6, 3), (5, 4), (4, 3), (3, 3), (2, 9), (1, 16)]

In [14]:
# Statistics for subcategory - product
avg_sub_prods, std_sub_prods, med_sub_prods = stats(num_sub_prods)
print(avg_sub_prods, std_sub_prods, med_sub_prods)

362.8854961832061 804.8028599461023 53.0

In [12]:
# For product-variant pair
num_prod_vars, val_prod_vars = hier('product_code', 'article_id')
print(num_prod_vars)

[(75, 1), (70, 1), (52, 1), (49, 1), (46, 1), (44, 1), (41, 4), (40, 2), (39, 5), (38, 3), (37, 3), (36, 3), (35, 1), (34, 2), (33, 3), (32, 4), (31, 4), (30, 7), (29, 4), (28, 8), (27, 8), (26, 8), (25, 11), (24, 14), (23, 13), (22, 19), (21, 22), (20, 26), (19, 35), (18, 33), (17, 46), (16, 47), (15, 74), (14, 68), (13, 78), (12, 100), (11, 122), (10, 180), (9, 206), (8, 319), (7, 459), (6, 778), (5, 1189), (4, 2376), (3, 4947), (2, 11921), (1, 24066)]

In [15]:
# Statistics for product - variant
avg_prod_vars, std_prod_vars, med_prod_vars = stats(num_prod_vars)
print(avg_prod_vars, std_prod_vars, med_prod_vars)

2.2349229205488736 2.592045019088338 1.0