# Importing packages

In [62]:
# from google.colab import drive
import pandas as pd
# import os
import numpy as np
import math
import pickle

In [4]:
# drive.mount('/content/drive')
# os.chdir('/content/drive/MyDrive/')

Mounted at /content/drive

# Reading data

In [5]:
df_a = pd.read_csv('articles.csv')

In [63]:
df_a.head(5)

,article_id,prod_name,product_code,product_type_name,department_name,garment_group_name,product_group_name,section_name,index_group_name,colour_group_name,perceived_colour_master_name,perceived_colour_value_name,graphical_appearance_name,detail_desc
0,108775015,Strap top,108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,Black,Black,Dark,Solid,Jersey top with narrow shoulder straps.
1,108775044,Strap top,108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,White,White,Light,Solid,Jersey top with narrow shoulder straps.
2,108775051,Strap top (1),108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,Off White,White,Dusty Light,Stripe,Jersey top with narrow shoulder straps.
3,110065001,OP T-shirt (Idro),110065,Bra,Clean Lingerie,"Under-, Nightwear",Underwear,Womens Lingerie,Ladieswear,Black,Black,Dark,Solid,"Microfibre T-shirt bra with underwired, moulde..."
4,110065002,OP T-shirt (Idro),110065,Bra,Clean Lingerie,"Under-, Nightwear",Underwear,Womens Lingerie,Ladieswear,White,White,Light,Solid,"Microfibre T-shirt bra with underwired, moulde..."

In [64]:
df_a = df_a[['article_id', 'prod_name','product_code','product_type_name', 'department_name', 'garment_group_name', 'product_group_name', 'section_name', 'index_group_name', 'colour_group_name', 'perceived_colour_master_name', 'perceived_colour_value_name', 'graphical_appearance_name', 'detail_desc']] # Choosing significant attributes

In [65]:
df_a.head(5)

,article_id,prod_name,product_code,product_type_name,department_name,garment_group_name,product_group_name,section_name,index_group_name,colour_group_name,perceived_colour_master_name,perceived_colour_value_name,graphical_appearance_name,detail_desc
0,108775015,Strap top,108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,Black,Black,Dark,Solid,Jersey top with narrow shoulder straps.
1,108775044,Strap top,108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,White,White,Light,Solid,Jersey top with narrow shoulder straps.
2,108775051,Strap top (1),108775,Vest top,Jersey Basic,Jersey Basic,Garment Upper body,Womens Everyday Basics,Ladieswear,Off White,White,Dusty Light,Stripe,Jersey top with narrow shoulder straps.
3,110065001,OP T-shirt (Idro),110065,Bra,Clean Lingerie,"Under-, Nightwear",Underwear,Womens Lingerie,Ladieswear,Black,Black,Dark,Solid,"Microfibre T-shirt bra with underwired, moulde..."
4,110065002,OP T-shirt (Idro),110065,Bra,Clean Lingerie,"Under-, Nightwear",Underwear,Womens Lingerie,Ladieswear,White,White,Light,Solid,"Microfibre T-shirt bra with underwired, moulde..."

# Data Cleaning

In [66]:
def hier(att1, att2): # Number of distinct features in att2 corresponding to a distinct feature in att1
  id1 = list(df_a.columns).index(att1)
  id2 = list(df_a.columns).index(att2)
  id1_id2 = dict()
  for i in range(len(df_a)):
    if df_a.loc[i][id1] not in id1_id2:
      id1_id2[df_a.loc[i][id1]] = [df_a.loc[i][id2]]
    else:
      if df_a.loc[i][id2] not in id1_id2[df_a.loc[i][id1]]:
        id1_id2[df_a.loc[i][id1]].append(df_a.loc[i][id2])
  num_id2 = dict()
  for i in id1_id2:
    l = len(id1_id2[i])
    if l not in num_id2:
      num_id2[l] = 1
    else:
      num_id2[l] += 1
  num_id2 = sorted(list(num_id2.items()), key = lambda x: x[0], reverse = True)
  id1_id2 = sorted(list(id1_id2.items()), key = lambda x: len(x[1]), reverse = True)
  return num_id2, id1_id2

In [12]:
# # For subcategory-product pair
# num_sub_prods, val_sub_prods = hier('product_type_name', 'product_code')
# print(num_sub_prods)

[(5551, 1), (4711, 1), (3618, 1), (2313, 1), (2172, 1), (2063, 1), (1893, 1), (1580, 1), (1550, 1), (1344, 1), (1112, 1), (947, 1), (918, 1), (807, 1), (779, 1), (762, 1), (757, 1), (739, 1), (703, 1), (656, 1), (654, 1), (634, 1), (624, 1), (614, 1), (611, 1), (474, 1), (452, 1), (432, 1), (421, 1), (418, 1), (387, 1), (383, 1), (362, 1), (355, 1), (348, 1), (342, 1), (294, 1), (288, 1), (261, 1), (255, 1), (233, 1), (225, 1), (224, 1), (208, 1), (195, 1), (161, 1), (160, 1), (141, 1), (140, 1), (139, 1), (131, 1), (125, 1), (115, 1), (113, 1), (102, 1), (99, 1), (92, 1), (91, 1), (89, 1), (82, 1), (78, 1), (75, 1), (67, 1), (64, 1), (61, 1), (53, 1), (47, 1), (44, 1), (43, 1), (38, 1), (37, 1), (34, 1), (32, 1), (31, 1), (29, 1), (28, 2), (26, 1), (21, 1), (18, 1), (17, 1), (15, 2), (13, 1), (12, 1), (11, 1), (10, 3), (8, 1), (7, 3), (6, 3), (5, 4), (4, 3), (3, 3), (2, 9), (1, 16)]

In [67]:
num_sub_prods, val_sub_prods = hier('product_type_name', 'product_code') # Returns a list of tuples having subcategory and products corresponding to it

In [16]:
def clean(val_sub_prods):
  dict_sub_prods = {} # Dictionary of products in each subcategory in decreasing order of number of products
  for i, j in val_sub_prods:
    dict_sub_prods[i] = j
  for i in range(len(val_sub_prods)): 
    if len(val_sub_prods[i][1]) == 1 and val_sub_prods[i][0] != 'Unknown':
      idx = i
      break
  val_sub_prods_fin = val_sub_prods[:idx] # List of all valid subcategories (having more than 1 product)
  dict_sub_prods_fin = {} # Dictionary of products in each valid subcategory in decreasing order of number of products
  for i, j in val_sub_prods_fin:
    dict_sub_prods_fin[i] = j
  subs_removed = {} # Dictionary of invalid subcategories
  for i in dict_sub_prods:
    if i not in dict_sub_prods_fin:
      subs_removed[i] = True
  
  tmp = [] # List of all products corresponding to invalid subcategories
  for i in subs_removed:
    tmp.append(dict_sub_prods[i][0])

  if 'Unknown' not in subs_removed:
    subs_removed['Unknown'] = True
  unk_prods = dict_sub_prods['Unknown'] # Products under 'Unknown' subcategory
  
  num_prod_subs, vals_prod_subs = hier('product_code', 'product_type_name') # For product-subcategory pair
  dict_prod_subs = {} # Dictionary of subcategories in each product 
  for i, j in vals_prod_subs:
    dict_prod_subs[i] = j
  prods_removed = {} # Dictionary of invalid products 
  for i in tmp:
    if len(dict_prod_subs[i]) == 1: # Products linked to only the subcategory which is invalid is removed
      prods_removed[i] = True
  
  for i in unk_prods:
    if len(dict_prod_subs[i]) == 1: # Products linked to only Unknown is removed
      if i not in prods_removed:
        prods_removed[i] = True
  
  cats = {}  
  for cat in list(set(df_a['product_group_name'])):
    sub = list(set(df_a.loc[df_a['product_group_name'] == cat]['product_type_name']))
    for s in sub:
      if s not in subs_removed:
        if cat not in cats:
          cats[cat] = True

  cats_removed = {} # Dictionary of invalid categories
  for i in list(set(df_a['product_group_name'])):
    if i not in cats:
      cats_removed[i] = True

  if 'Unknown' not in cats_removed:
    cats_removed['Unknown'] = True
  
  return cats_removed, subs_removed, prods_removed

In [17]:
cats_removed, subs_removed, prods_removed = clean(val_sub_prods) # Category, subcategories and products to be removed

In [18]:
def valid_cats_subs_prods(cats_removed, subs_removed, prods_removed): # Returns a list of valid categories, valid subcategories and valid products
  product_codes = []
  valid_cats = []
  valid_subs = []
  for code in list(set(df_a['product_code'])):
    if code not in prods_removed:
      product_codes.append(code)
  for cat in list(set(df_a['product_group_name'])):
    if cat not in cats_removed:
      valid_cats.append(cat)
  for sub in list(set(df_a['product_type_name'])):
    if sub not in subs_removed:
      valid_subs.append(sub)

  return valid_cats, valid_subs, product_codes

In [19]:
valid_cats, valid_subs, product_codes = valid_cats_subs_prods(cats_removed, subs_removed, prods_removed)

# Creating nodes and relationships csv files

In [20]:
def name_desc(product_codes): # Returns a tuple of dictionary containing names and description of valid products
  prod_names = {}
  prod_desc = {}

  for code in product_codes:
    prod_names[code] = list(df_a.loc[df_a['product_code'] == code]['prod_name'])[0]
  
  for code in product_codes:
    prod_desc[code] = list(df_a.loc[df_a['product_code'] == code]['detail_desc'])[0]
  
  return prod_names, prod_desc

In [21]:
prod_names, prod_desc = name_desc(product_codes)

In [ ]:
# prods_removed = [532138, 615576, 670590, 795921, 816814, 816846, 832168, 850239, 874961, 880106, 920602, 480093, 561291, 700701, 809226, 836789, 840107, 846825, 851778, 851780, 852678, 856667, 865912, 865913, 866244, 867968, 867969, 873366, 880553, 880821, 894221, 898434, 902265, 903864, 906576, 916766, 921169, 923758, 925139, 927131, 935704]

In [22]:
att_nodes_cols = ['department_name', 'garment_group_name', 'section_name', 'index_group_name', 
                  'colour_group_name','perceived_colour_value_name', 'perceived_colour_master_name',
                  'graphical_appearance_name'] # List of valid attributes

In [23]:
def att_ids_edge_labels(att_nodes_cols): # Returns dictionaries of attribute ids and edge labels for product-attribute relationships
  att_ids = {} # ids for attribute nodes
  for att in att_nodes_cols:
    att_ids[att] = ''.join([i[0] for i in att.split('_')])
  prod_att_labels = {} # edge label for product-attribute
  for att in att_nodes_cols:
    prod_att_labels[att] = 'HAS_' + ''.join([w[0] for w in att.split('_')]).upper()
  att_prod_labels = {} # edge label for attribute-product
  for att in att_nodes_cols:
    att_prod_labels[att] = ''.join([w[0] for w in att.split('_')]).upper() + '_OF'  
  return att_ids, prod_att_labels, att_prod_labels

In [24]:
att_ids, prod_att_labels, att_prod_labels = att_ids_edge_labels(att_nodes_cols)

In [ ]:
# subs_removed = ['Bra extender', 'Blanket', 'Cushion', 'Shoulder bag', 'Headband', 'Baby Bib', 'Keychain', 'Washing bag', 'Sewing kit', 'Towel', 'Wood balls', 'Pre-walkers', 'Marker pen', 'Bumbag', 'Wireless earphone case', 'Clothing mist', 'Unknown']
# cats_removed = ['Stationery', 'Interior textile', 'Unknown']

In [36]:
# category, subcategory, attribute and keyword nodes
ids = [] 
labels = []
values = []
# Relationships between all nodes in product-retail graph
froms = []
tos = []
edge_labels = []
edge_ids = []

In [37]:
def cat_sub_nodes(valid_cats, valid_subs, ids, labels, values): # Making category and subcategory nodes and returning dictionary of ids of category and subcategory nodes respectively
  cat_ids = {} # ids of category nodes
  sub_ids = {} # ids of subcategory nodes
  for cat in valid_cats:
    cat_ids[cat] = 'cat'+str(len(cat_ids) + 1)
    ids.append(cat_ids[cat])
    labels.append('category')
    values.append(cat.lower())
  
  for sub in valid_subs:
    sub_ids[sub] = 'sub'+str(len(sub_ids) + 1)
    ids.append(sub_ids[sub])
    labels.append('subcategory')
    values.append(sub.lower())
  
  return cat_ids, sub_ids

In [38]:
cat_ids, sub_ids = cat_sub_nodes(valid_cats, valid_subs, ids, labels, values)

In [39]:
def cat_sub_rel(subs_removed, froms, tos, edge_labels, edge_ids, cat_ids, sub_ids): # Defining category-subcategory relationships
  for cat in cat_ids:
    sub = list(set(df_a.loc[df_a['product_group_name'] == cat]['product_type_name']))
    for i in range(len(sub)):
      if sub[i] not in subs_removed:
        froms.append(cat_ids[cat])
        tos.append(sub_ids[sub[i]])
        edge_labels.append('cat_of')
        edge_ids.append(cat_ids[cat]+sub_ids[sub[i]])
  for sub in sub_ids:
    prod = list(set(df_a.loc[df_a['product_type_name'] == sub]['product_code']))
    for i in range(len(prod)):
      # if prod[i] not in prods_removed:
        froms.append(sub_ids[sub])
        tos.append(str(prod[i]))
        edge_labels.append('sub_of')
        edge_ids.append(sub_ids[sub]+str(prod[i]))

In [40]:
cat_sub_rel(subs_removed, froms, tos, edge_labels, edge_ids, cat_ids, sub_ids)

In [ ]:
print(len(cat_ids), len(sub_ids))

16 114

In [41]:
att_vals = {} # ids of attribute nodes

In [42]:
def prod_att_rel(att_nodes_cols, prod_att_labels, att_ids, froms, tos, edge_ids, edge_labels, ids, labels, values, att_vals): # Product - attribute relationships
  sn_ids = {}
  ign_ids = {}
  for att in att_nodes_cols:
    set_att = {}
    edge_ids_dict = {}
    for i in range(len(df_a[att])):
      val = df_a[att][i]
      if att == 'garment_group_name' and val == df_a['department_name'][i]:
        continue
      if att == 'perceived_colour_master_name' and val == df_a['colour_group_name'][i]:
        continue

      if val != 'Unknown' and df_a['product_code'][i] not in prods_removed :
        if val not in set_att:    
      
          if att == 'index_group_name':
            ign_ids[val] = att_ids[att] + f'{len(set_att)+1}'
          if att == 'section_name':
            sn_ids[val] = att_ids[att] + f'{len(set_att)+1}'
        
          set_att[val] = att_ids[att] + f'{len(set_att)+1}'
          att_vals[att + '_' + val] = att_ids[att] + f'{len(set_att)}'
          ids.append(set_att[val])
          labels.append(att)
          values.append(val.lower())

        edge = str(df_a['product_code'][i]) + set_att[val]
      
        if edge not in edge_ids_dict: # To ensure same edges are not getting repeated
          edge_ids_dict[edge] = True
          froms.append(str(df_a['product_code'][i]))
          tos.append(set_att[val])
          edge_ids.append(edge)
          edge_labels.append(prod_att_labels[att]) 

  # Inter-attribute linkages between section name and index group name
  for ign in ign_ids:
    sn = list(set(df_a.loc[df_a['index_group_name'] == ign]['section_name']))
    for i in range(len(sn)):
      froms.append(ign_ids[ign])
      tos.append(sn_ids[sn[i]])
      edge_labels.append('ign_of')
      edge_ids.append(ign_ids[ign]+sn_ids[sn[i]])

In [43]:
prod_att_rel(att_nodes_cols, prod_att_labels, att_ids, froms, tos, edge_ids, edge_labels, ids, labels, values, att_vals)

In [44]:
# ids, labels, names and description of variant nodes
var_ids = []
var_labels = []
var_values = []
var_desc = []

In [45]:
# Making variant nodes and establishing relationships between variant nodes and product nodes and variant nodes and attribute nodes bidirectionally
def var_nodes_rel(product_codes, froms , tos, edge_ids, edge_labels, att_nodes_cols, var_ids, var_labels, var_values, var_desc, prod_names, prod_desc, att_vals, prod_att_labels, att_prod_labels):
  for code in product_codes:
    prod_df = df_a.loc[df_a['product_code'] == code]
    prod_df.reset_index(inplace=True)
    prod_df.drop('index',axis=1,inplace=True)
    for i in range(len(prod_df)):
      article = prod_df['article_id'][i]

      # Product - variant relationships
      froms.append(str(code))
      tos.append(str(article))
      edge_ids.append(str(code) + str(article))
      edge_labels.append('prod_of')
      # Defining variant nodes and Attribute-variant relationships
      vals = []
      for att in att_nodes_cols:
        val = prod_df[att][i]
        if att == 'garment_group_name' and val == prod_df['department_name'][i]:
          continue
        if att == 'perceived_colour_master_name' and val == prod_df['colour_group_name'][i]:
          continue
        if val != 'Unknown':
          vals.append(val.lower())
          froms.append(str(article))
          tos.append(att_vals[att + '_' + val])
          edge_ids.append(str(article) + att_vals[att + '_' + val])
          edge_labels.append(prod_att_labels[att])

          froms.append(att_vals[att + '_' + val])
          tos.append(str(article))
          edge_ids.append(att_vals[att + '_' + val] + str(article))
          edge_labels.append(att_prod_labels[att])

      var_ids.append(str(article))
      var_labels.append('variant')
      var_values.append(prod_names[code].lower() + '_' + '_'.join(vals))
      if type(prod_desc[code]) == str and len(prod_desc[code]) != 0: # If description does not exist, then put product name as variant description
        var_desc.append(prod_desc[code])
      else:
        var_desc.append(prod_names[code].lower())

In [46]:
var_nodes_rel(product_codes, froms , tos, edge_ids, edge_labels, att_nodes_cols, var_ids, var_labels, var_values, var_desc, prod_names, prod_desc, att_vals, prod_att_labels, att_prod_labels)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [47]:
df_sales = pd.read_csv('product_sales.csv') # Sales data for all variants

In [48]:
df_sales.head()

   article_id  articles_sold
0   706016001          14951
1   706016002          14289
2   610776002          13372
3   372860001          13254
4   565379001          13021

In [49]:
def sales_prop(var_ids, df_sales): # Adding sales property in variant nodes 
  var_sales = []
  articles_sold = {}
  for i in range(len(df_sales)):
    articles_sold[df_sales['article_id'][i]] = df_sales['articles_sold'][i]
  
  for id in var_ids:
    var_id = int(id)
    if var_id in articles_sold:
      var_sales.append(articles_sold[var_id])
    else:
      var_sales.append(0)
  return var_sales

In [50]:
var_sales = sales_prop(var_ids, df_sales)

In [51]:
def var_keyword_rel(var_ids, ids, labels, values, froms, tos, edge_labels, edge_ids, path): # Defining keyword nodes and Variant-keyword relationships
  with open (path, 'rb') as fp: # Reading keywords for each variant
    product_keyword = pickle.load(fp)
  keyword_ids = {}
  count = 1
  for id in var_ids:
    keywords = list(set(product_keyword[id]))
    for f in keywords:
      if len(f) != 0 and type(f) == str:
        if f not in keyword_ids:
          keyword_ids[f] = 'keyw' + str(count)
          ids.append(keyword_ids[f])
          labels.append('keyword')
          values.append(f.lower())
          count += 1
        froms.append(id)
        tos.append(keyword_ids[f])
        edge_ids.append(id + keyword_ids[f])
        edge_labels.append('HAS_KEYWORD')

        froms.append(keyword_ids[f])
        tos.append(id)
        edge_ids.append(keyword_ids[f] + id)
        edge_labels.append('KEYWORD_OF')
  return product_keyword, keyword_ids

In [52]:
path = 'product_keyword.txt'
product_keyword, keyword_ids = var_keyword_rel(var_ids, ids, labels, values, froms, tos, edge_labels, edge_ids, path) # Returns a tuple of dictionary consisting of list of keywords correpsonding to each variant and a dictionary consisting of ids for each keyword node

In [53]:
def prod_keyword_rel(product_codes, product_keyword, keyword_ids, froms, tos, edge_labels, edge_ids): # Product - keyword relationship
  for code in product_codes:
    df_codes = df_a.loc[df_a['product_code'] == code]
    df_codes.reset_index(inplace=True)
    df_codes.drop('index',axis=1,inplace=True)
    var_id = df_codes['article_id'][0]
    keywords = list(set(product_keyword[str(var_id)]))
    for f in keywords:
      if len(f) != 0 and type(f) == str:
        froms.append(str(code))
        tos.append(keyword_ids[f])
        edge_ids.append(str(code) + keyword_ids[f])
        edge_labels.append('HAS_KEYWORD')

In [54]:
prod_keyword_rel(product_codes, product_keyword, keyword_ids, froms, tos, edge_labels, edge_ids)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [55]:
# Category, subcategory, attribute and keywords file
csak_nodes_hnm_fin = {'~id':   ids,
                 '~label': labels,
                 'value:String': values} # Can add attributes here as well
pd.DataFrame(csak_nodes_hnm_fin).to_csv('csak_nodes_hnm_fin.csv', index = False)

In [56]:
# Product nodes file
prod_nodes_hnm_fin = {'~id': [str(code) for code in product_codes],
                  '~label': ['product']*len(product_codes),
                  'value:String': [prod_names[code].lower() for code in product_codes]} # Can add attributes here as well
pd.DataFrame(prod_nodes_hnm_fin).to_csv('prod_nodes_hnm_fin.csv', index = False)

In [57]:
# Variant nodes file
var_nodes_hnm_fin = {'~id': var_ids,
                  '~label': var_labels,
                  'value:String': var_values,
                  'desc:String': var_desc,
                  'sales:Int': var_sales} # Can add attributes here as well
pd.DataFrame(var_nodes_hnm_fin).to_csv('var_nodes_hnm_fin.csv', index = False)

In [58]:
# Node - edge relationships file
node_edge_rel_hnm_fin = {'~id': edge_ids,
                     '~from': froms,
                     '~to': tos,
                     '~label': edge_labels}
pd.DataFrame(node_edge_rel_hnm_fin).to_csv('node_edge_rel_hnm_fin.csv', index = False)